@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;   
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    font-family: var(--font2);
    font-size: 7vw;
    padding-top: 50px;
}

header p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover {
    text-decoration: underline;
}
section {
    font-family: var(--font3);
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section p {
    padding-bottom: 2em;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.normal {
    background-color: white;
    color: black;
}
.imagem {
    background-color: rgba(51, 51, 51,);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.501);
    background-attachment: fixed;
    background-size: cover;
}
.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.450);
    text-shadow: 1.5px 1.5px 0px black;
}
#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}